@model List<WebApplication1.Models.employee_salary_date>




@{
    ViewBag.Title = "Emp";
    int sn = 0;
}
<h2>Emplo</h2>
@*<p>
        @Html.ActionLink("Create New","create3")
    </p>*@

<a href=" @Url.Action("create3")">Add New Item</a>
<style>
    table, th, td {
        border: 2px solid;
        background-color: black;
        font-size: 12px;
        color: white;
        padding: 10px;
    }

    form {
        width: 100px;
        display: inline-block;
    }

    input[type=submit] {
        color: #9a9298;
    }
</style>

}
@using (Html.BeginForm("Emplo", null, FormMethod.Get))
{
    //For Search Option
    <b>Search Options:</b>@Html.RadioButton("option", "name")<text>Name</text>
    @Html.RadioButton("option","id")<text>id</text> @Html.TextBox("search")
    <input type="submit" name="submit" value="Search"/>
}

<h2>Welcome</h2>
<p>Table Data</p>

<table class=" table" style="border:2px dashed blue;">
    <tr>
        <th>SN</th>
        <th>EmployeeName</th>
        <th>EmployeeID</th>
        <th>Salary Amount</th>
        <th>Paid Date</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@(++sn)</td>
            <td>@item.employee.EmployeeName</td>
            <td>@item.EmployeeID</td>
            <td>@item.SalaryPaid</td>
            <td>@item.PaidDate</td>

            <td>

                <a href="@Url.Action("Editsal", new {id =item.ID })">Edit</a>
                <a href="@Url.Action("delete2", new {id =item.ID })">Delete</a>

                @*@Html.ActionLink("EditSal", "EditSal", new { id = item.ID })
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>

        </tr>
    }

    <tr>
        <td>Total</td>
        <td colspan="3">@Model.Sum(x => x.SalaryPaid)</td>
    </tr>

</table>


<style type="text/css">
    label, input {
        margin-top: 2px;
    }

    label {
        margin-right: 2px;
    }
</style>





